html {
  font-size: 16px;
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --heightTop: 60vw;
  --cardHeight: 40vw;
  --topcardTopmar: 32.4vw;
  --cvvText: clamp(0.25rem, 0.063rem + 2.999vw, 1.5rem);
}
body {
  font-family: "Space Grotesk", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.top-section {
  display: flex;
  flex-direction: column;
  padding: 8%;
  height: var(--heightTop);
}
.card-backside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/bg-card-back.png");
}
.card-backside > img {
  height: var(--cardHeight);
  aspect-ratio: 447/245;
}
.card-backside-cvv {
  position: absolute;
  right: 17%;
  display: block;
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: var(--cvvText);
  color: hsl(270, 3%, 87%);
}
.name-number {
  display: flex;
  flex-direction: column;
}

.bottom-content {
  display: flex;
  padding: clamp(0.625rem, -0.406rem + 16.492vw, 7.5rem)
    clamp(0.313rem, -0.015rem + 5.247vw, 2.5rem)
    clamp(0.625rem, 0.344rem + 4.498vw, 2.5rem);
  /* padding: 10px 5px 10px; */
  align-items: center;
  background-color: white;
}
.form {
  width: 100%;
}
.form label {
  margin: 10px 0px;
  font-size: clamp(0.375rem, 0.244rem + 2.099vw, 1.25rem);
  /* font-size: 6px; */
  color: hsl(278, 68%, 11%);
  letter-spacing: 0.15em;
}
.form input {
  border-radius: 10px;
  width: 70vw;
  font-size: clamp(0.375rem, 0.206rem + 2.699vw, 1.5rem);
  /* font-size: 6px; */
  color: hsl(279, 6%, 55%);
  font-family: "Space Grotesk", sans-serif;
  border: 0px;
  padding: 1em 0.65em;
  outline: 0px;
}
.form input:focus {
  color: black;
  border: 1px solid hsl(249, 99%, 64%);
}
.form p {
  font-size: clamp(0.375rem, 0.263rem + 1.799vw, 1.125rem);
  /* font-size: 6px; */
  margin-top: 0.4em;
  color: hsl(0, 100%, 66%);
}
.input-box {
  display: flex;
}
.date-box .input-box > input {
  width: 49%;
}
.date-cvv {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.date-box {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.cvv-box {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.cvv-box > input {
  width: 100%;
}
.submit-btn {
  font-size: clamp(0.375rem, 0.206rem + 2.699vw, 1.5rem);
  /* font-size: 6px; */
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  border: 0px;
  border-radius: 0.75em;
  margin-top: 1.15em;
  color: white;
  background-color: hsl(278, 68%, 11%);
  padding: 0.98em;
  width: 100%;
}
.card-front {
  top: var(--topcardTopmar);
  right: 20%;
  height: var(--cardHeight);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(./images/bg-card-front.png);
  aspect-ratio: 447/245;
  position: absolute;
}
.top-card-content {
  display: flex;
  flex-direction: column;
  padding: 4vw;
}
.top-card-content > img {
  width: 24%;
  aspect-ratio: 84/47;
}
.top-card-content > h4 {
  text-transform: uppercase;
  /* font-size: 16px; */
  /* font-size: 4.5px; */
  font-size: clamp(0.281rem, 0.024rem + 4.123vw, 2rem);
  font-weight: 500;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 17%;
}
.top-card-content > h5 {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-top: 4%;
  /* font-size: 12px; */
  /* font-size: 3px; */
  font-size: clamp(0.188rem, -0.009rem + 3.148vw, 1.5rem);
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  :root {
    --cardHeight: 17vw;
    /* --cvvText: 12px; */
    --cvvText: clamp(0.75rem, -0.125rem + 1.823vw, 1.625rem);
    /* --topcardTopmar: 250px; */
    --topcardTopmar: 17vh;
  }
  main {
    height: 100vh;
    flex-direction: row;
  }
  .card-backside {
    bottom: 17vh;
    /* left: 15px; */
    left: clamp(0.938rem, -10.625rem + 24.089vw, 12.5rem);
    position: absolute;
  }
  .card-backside-cvv {
    right: 3.75vw;
  }
  .bottom-content {
    margin-left: auto;
    /* width: 65vw; */
    /* width: 1100px; */
    width: 64vw;
    padding: 0px clamp(3.125rem, 0rem + 6.51vw, 6.25rem) 0px
      clamp(2.5rem, -13.125rem + 32.552vw, 18.125rem);
    /* padding: 0px 100px 0px 290px; */
  }
  .card-front {
    /* left: 15px; */
    left: clamp(0.938rem, -4.375rem + 11.068vw, 6.25rem);
  }
  .top-card-content {
    padding: clamp(0.938rem, 0rem + 1.953vw, 1.875rem);
    /* padding: 15px; */
  }
  .top-card-content > h4 {
    /* font-size: 14.5px; */
    font-size: clamp(0.906rem, 0rem + 1.888vw, 1.813rem);
  }
  .top-card-content > h5 {
    /* font-size: 12px; */
    font-size: clamp(0.75rem, 0.25rem + 1.042vw, 1.25rem);
  }
  .form label {
    /* font-size: 16px; */
    font-size: clamp(1rem, 0.25rem + 1.563vw, 1.75rem);
  }
  .form input {
    width: 100%;
    /* font-size: 20px; */
    font-size: clamp(1.25rem, 0.625rem + 1.302vw, 1.875rem);
  }
  .submit-btn {
    /* font-size: 20px; */
    font-size: clamp(1.25rem, 0.75rem + 1.042vw, 1.75rem);
  }
}
